<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
  <title>Novo Funcionário</title>
</head>

<body>


<div class="container" style="width: 60%; padding-bottom: 30px">

  <header>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Novo Funcionário</span>
    </nav>
  </header>

  <div>

    <th:block th:include="MensagemValidacao"></th:block>
    <form method="post">

      <div class="formGroup">
        <input type="text" class="form-control" name="nome" placeholder="Nome *">
      </div>
      <div class="formGroup">
        <input type="text" class="form-control" style="margin-top: 10px;" name="funcao" placeholder="Função *">
      </div>
      <div class="formGroup">
        <input type="number" step="0.01" class="form-control" style="margin-top: 10px;" name="salario" placeholder="Salário *">
      </div>
      <div class="formGroup">
        <input type="text" class="form-control" style="margin-top: 10px;" name="pecasHora" placeholder="Peças por hora">
      </div>

      <small class="form-text text-muted">(*) Campos obrigatórios</small>

      <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Criar</button>
      <a href="/getfuncionarios" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
    </form>

  </div>

</div>

</body>

</html>