<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
    <title>Novo Pedido</title>
</head>

<body>


<div class="container" style="width: 60%; padding-bottom: 30px">

    <header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Novo Pedido</span>
        </nav>
    </header>

    <div>
        <form th:action="@{/postpedido}" th:object="${pedido}" method="post" class="form">

            <div class="form-group">
                <label for="corte">Corte</label>
                <input class="form-control" type="text" th:field="*{corte}" id="corte" placeholder="Corte *">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('corte')}" th:errors="*{corte}"></div>
            </div>
            <div class="form-group">
                <label for="marca">Marca</label>
                <input class="form-control" type="text" th:field="*{marca}" id="marca" placeholder="Marca *">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></div>
            </div>
            <div class="form-group">
                <label for="valorPeca">Valor Por Peça</label>
                <input class="form-control" type="text" th:field="*{valorPeca}" id="valorPeca" placeholder="Valor Por Peça *">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('valorPeca')}" th:errors="*{valorPeca}"></div>
            </div>
            <div class="form-group">
                <label for="prazo">Prazo</label>
                <input class="form-control" type="date" th:field="*{prazo}" id="prazo" placeholder="Prazo *">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('prazo')}" th:errors="*{prazo}"></div>
            </div>

            <small class="form-text text-muted">(*) Campos obrigatórios</small>

            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Criar</button>
            <a href="/getpedidos" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
        </form>
    </div>

</div>

</body>

</html>